[Unit]
Description=Schedule c1 Doco-CD OpenBao token renewal

[Timer]
OnBootSec=5min
OnUnitActiveSec=6h
RandomizedDelaySec=15min
Persistent=true
Unit=doco-c1-openbao-renew.service

[Install]
WantedBy=timers.target
