[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = .ansible/collections
local_tmp = .build/tmp/controller
remote_tmp = ~/.ansible/tmp
host_key_checking = True
retry_files_enabled = False
fact_caching = memory
inject_facts_as_vars = False
interpreter_python = auto_silent
nocows = True
no_log = False
display_args_to_stdout = False

[diff]
always = False
context = 3

[ssh_connection]
ssh_args = -o UserKnownHostsFile=inventory/known_hosts -o StrictHostKeyChecking=yes -o UpdateHostKeys=no -o CheckHostIP=yes
pipelining = True
