---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - enp1s0f0np0
  - enp1s0f1np1
bondMode: 802.3ad
miimon: 100
updelay: 200
downdelay: 200
xmitHashPolicy: layer3+4
lacpRate: fast
addresses:
  - address: 10.25.11.13/24
routes:
  - destination: 0.0.0.0/0
    gateway: 10.25.11.1
mtu: 9000
---
apiVersion: v1alpha1
kind: EthernetConfig
name: enp1s0f0np0
rings:
  rx: 8160
  tx: 8160
---
apiVersion: v1alpha1
kind: EthernetConfig
name: enp1s0f1np1
rings:
  rx: 8160
  tx: 8160
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.2512
vlanID: 2512
parent: bond0
mtu: 9000
---
machine:
  type: controlplane
  install:
    diskSelector:
      model: Samsung SSD 860
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k3
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
volumeType: disk
provisioning:
  diskSelector:
    match: disk.serial == "TPBF2502170050103057"
