# Managed by Ansible.
[Time]
NTP={{ container_node_baseline_ntp_servers | join(' ') }}
FallbackNTP={{ container_node_baseline_fallback_ntp_servers | join(' ') }}
RootDistanceMaxSec=5
PollIntervalMinSec=32
PollIntervalMaxSec=2048
