---
apiVersion: v1alpha1
kind: LinkConfig
name: {{ node.bootstrap_link }}
up: true
mtu: 1496
addresses:
  - address: {{ node.bootstrap_address }}/24
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: tor1-link
selector:
  match: mac(link.permanent_addr) == "{{ node.links.tor1.permanent_mac }}"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: tor2-link
selector:
  match: mac(link.permanent_addr) == "{{ node.links.tor2.permanent_mac }}"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - tor1-link
  - tor2-link
bondMode: active-backup
arpInterval: 1000
arpIpTargets:
  - {{ topology.network.gateway }}
arpValidate: all
arpAllTargets: all
primaryReselect: failure
numPeerNotif: 3
addresses:
  - address: {{ node.address }}/24
routes:
  - gateway: {{ topology.network.gateway }}
mtu: 1496
---
apiVersion: v1alpha1
kind: ResolverConfig
hostDNS:
  enabled: true
  forwardKubeDNSToHost: true
  resolveMemberNames: true
nameservers:
{% for nameserver in topology.private_dns %}
  - address: {{ nameserver }}
{% endfor %}
searchDomains:
  domains:
    - monosense.io
---
apiVersion: v1alpha1
kind: TimeSyncConfig
ntp:
  servers:
{% for server in topology.ntp_servers %}
    - {{ server }}
{% endfor %}
