[Unit]
Description=Refresh shared wildcard certificate on c1

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h
Persistent=true
RandomizedDelaySec=10min
Unit=c1-wildcard-certificate.service

[Install]
WantedBy=timers.target
