[defaults]
inventory = inventory/hosts.yml
collections_path = .ansible/collections
roles_path = roles
interpreter_python = auto_silent
host_key_checking = True
retry_files_enabled = False
gathering = explicit
display_args_to_stdout = False
stdout_callback = default
local_tmp = .build/tmp/controller
remote_tmp = .build/tmp/remote

[paramiko_connection]
look_for_keys = False

[galaxy]
server_timeout = 30

[persistent_connection]
connect_timeout = 30
command_timeout = 180
connect_retry_timeout = 15
